* {
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3 {
  font-family: sans-serif;
}
p {
  columns: 2;
  line-height: 1.5;
}
code {
  background-color: DarkSlateGrey;
}
html {
  background-color: black;
  color: white;
  font-size: 100%;
}
