* {
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3 {
  font-family: sans-serif;
}
p {
  line-height: 1.5;
}
@media only screen and (min-width: 600px) {
  p {
    columns: 2;
  }
}
code {
  background-color: DarkSlateGrey;
}
html {
  background-color: black;
  color: white;
  font-size: 100%;
}
